{% include 'base.html' %}

<body>
    {% include 'nav.html' %}

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Search&nbsp;<span style="font-weight: normal !important; color: rgb(224, 224, 224); background-color: transparent;">🇨🇦</span>&nbsp;grocery stores</h2>
                </div>
            </div>
            <p class="text-center">Search Walmart.ca, Save-On-Foods, Safeway and President's Choice with one search<br></p>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <form action="/search" method="post" onsubmit="return validateInput()">
                                <div class="mb-3"><input class="form-control" type="text" id="postal_code" name="postal_code" placeholder="Postal code" style="padding-right: 20px;margin-right: 82px;"><input class="form-control" type="search" id="query" name="query" placeholder="Eggs, milk, bread..."><input type="checkbox" id="enable_safeway" name="enable_safeway" checked><label for="enable_safeway">Search Safeway</label></div>
                                <div class="mb-3"></div>
                                <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Search</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'footer.html' %}

</body>

</html>