<h1>Grocery store search - compare prices</h1>
<form name="search" id="search-form" action="/search" method="post" >
                    <div class="row">
                        <div class="col-12">
                            <div class="row no-gutters">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input  placeholder="Postal code" class="form-control" id="search" name="postal_code" value="v4g1n4">
                                </div>
                                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                                    <input  placeholder="Search..." class="form-control" id="search" name="query" value="{{ request.form['query'] }}">
                                </div>
                                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-base" >
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>